[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
Type=simple
User=uwsgi_user
Group=uwsgi_group
WorkingDirectory=/opt/simplerestapi
Environment="PATH=/opt/simplerestapi"
ExecStart=/opt/simplerestapi/venv/bin/uwsgi --workers 3 --socket unix:/run/uwsgi.sock --wsgi-file wsgi.py --callable app --protocol http --logto /opt/simplerestapi/app_errors.log
Restart=always

[Install]
WantedBy=multi-user.target